# Xcode user specific settings
userdata/
xcuserdata/
智能提示/

# Derived Data and Build artifacts
DerivedData/
build/
Index.noindex/
Build/
Products/

# Architecture logs & Crash logs
*.moved-aside
*.xccheckout
*.xcscmblueprint

# macOS system clutter
.DS_Store
*.swp
*.lock
profile

# Hide automated testing boilerplate
*Tests/
*UITests/

# Hide raw machine learning packages
*.mlpackage/
